<h1>Hello From Admin Dashboard</h1>
<div class="row">
	<%= link_to 'Vaccines', admin_vaccines_path, class: 'btn btn-primary' %>
</div>
<div class="row pt-5">
	<%= link_to 'Vaccination Centers', admin_vaccination_centers_path, class: 'btn btn-primary' %>
</div>