<h1>Editing Admin Vaccination Center</h1>

<%= render 'form', admin_vaccination_center: @admin_vaccination_center %>

<%= link_to 'Show', @admin_vaccination_center %> |
<%= link_to 'Back', admin_vaccination_centers_path %>
